
    
<div class="home">
    <div class="title-wrap">
        <h3 class="title">Tất cả công ty</h3>
        <a class="view-more" href="/">Các Công Ty Nổi Bật</a>
    </div>
    <div class="row">
        {{#each company}}
        <div class="col-lg-3">
            <a href="">
                <img class="logo-congty"
                    src="{{this.logo}}"
                    alt="logo-congty">
                <h3>{{this.name}}</h3>
                <p>{{this.slogan}}</p>
                <p>lĩnh vực: {{this.field}}</p>
                <p>{{this.address}}</p>
                <ul>
                    <li>
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span>{{this.like}}</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-comment"></i>
                        <span>{{this.comments}}</span>
                    </li>
                </ul>
            </a>
        </div>
        {{/each}}
    </div>
</div>
