<div class="home">
    <div class="title-wrap">
        <h3 class="title">Các công ty nổi bật</h3>
        <a class="view-more" href="/home/companies">xem tất cả</a>
    </div>
    <div class="row slick-wrap">
        {{#each company}}
        <div class="col-lg-3">
            <a class="company-item" href="/detail/{{this.slug}}">
                <div>
                    <img class="logo-congty" src="/img-video/{{this.logo}}" alt="logo-congty">
                    <div class="company-name">
                        <h3>{{this.name}}</h3>
                        <p>{{this.slogan}}</p>
                    </div>
                    <div class="field">
                        <div>
                            <span><i class="fa-solid fa-house-chimney-window"></i></span>
                            <span>Lĩnh vực : {{this.field}}</span>
                        </div>
                    </div>
                    <div class="field">
                        <div>
                            <span><i class="fa-solid fa-people-roof"></i></span>
                            <span>Loại hình : Cổ phần</span>
                        </div>
                    </div>
                    <div class="field">
                        <div>
                            <span><i class="icon-locol fa-solid fa-location-dot"></i></span>
                            <span>Địa chỉ : {{this.address}}</span>
                        </div>
                    </div>
                </div>
                <ul class="buton-wrap">
                    <li>
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span>{{this.like}}</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-comment"></i>
                        <span>{{this.comment}}</span>
                    </li>
                </ul>
            </a>

        </div>
        {{/each}}
    </div>
</div>

