<div class="home-companies">
    <div class="title-wrap">
        <h3 class="title"> tất cả công ty ({{total}})</h3>
        <a class="view-more" href="/">Các Công Ty Nổi Bật</a>
    </div>

    <div class="row">
        {{#each company}}
        <div class="col-lg-3">
            <a class="company-link" href="/detail/{{this.slug}}">
                <div class="name-logo">
                    <img class="logo-congty" src="/img-video/{{this.logo}}" alt="logo-congty">
                    <div>
                        <h3>{{this.name}}</h3>
                        <p>{{this.slogan}}</p>
                    </div>
                </div>
                <p>lĩnh vực: {{this.field}}</p>
                <p>Loại hình: {{this.typeCompany}}</p>
                <p>Địa chỉ: {{this.address}}</p>
                <ul class="like-comment">
                    <li>
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span>{{this.totalLike}}</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-comment"></i>
                        <span>{{this.comment}}</span>
                    </li>
                </ul>
            </a>
            <div class="btnMe">
                <form class="btn-action" method="post" action="/me/delete/{{{this.slug}}}?_method=DELETE">
                    <button type="submit">Xóa</button>
                </form>
                <a class="btn-action" href="/me/updateCompany/{{this.slug}}">Sửa</a>
            </div>
        </div>
        {{else}}
        <h2>Bạn chưa đăng bài viết nào </h2>
        <a href="/create/form/company">Tạo bài viết ngay</a>
        {{/each}}
    </div>

</div>