<div class="header">
   <div class="header-infor">
      <ul>
         <li>
            <i class="fa-solid fa-location-dot"></i>
            14, Doãn Uẩn, Khuê Mỹ, Ngũ Hành Sơn, Đà Nẵng
         </li>
         <li>
            <i class="fa-solid fa-phone"></i>
            0916074130
         </li>
      </ul>
      <ul>
         <li><a class="icon" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
         <li><a class="icon" href="#"><i class="fa-brands fa-instagram"></i></a></li>
         <li><a class="icon" href="#"><i class="fa-brands fa-twitter"></i></a></li>
      </ul>
   </div>

   <div class="search row">
      <div class="col-lg-4 logo">
         <a class="logo-img" href="/">
            <img src="/img-video/logo.png" alt="logo">
         </a>
      </div>

      <form class="col-lg-4 search-wrap" method="GET" action="/company/search">
         <input name="name" type="text" class="search-input" placeholder="Tìm kiếm công ty...">
         <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form method="GET" action="#">

      <div class="col-lg-4 account">
         <ul class="account-wr">
            {{#if userName}}
            <li class="notifi">
               <i class="fa-solid fa-bell"></i>
               <span>350</span>
            </li>
            {{/if}}

            {{#if userName}}
            <div class="dropdown">
               <a class=" account-item btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-bs-toggle="dropdown" aria-expanded="false">

                  {{#if avatar}}
                  <img class="avarta" src="/img-video/{{avatar}}" alt="avarta">
                  {{else}}
                  <img class="avarta" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="avarta">
                  {{/if}}
                  <h4 class="user-name">{{userName}}</h4>
               </a>

               <ul style="width: 100%" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="/profile/{{slug}}">Hồ sơ</a></li>
                  <li><a class="dropdown-item" href="/me/stored/{{slug}}">Bài viết của tôi</a></li>
                  <li><a href="/logout" class="dropdown-item">Đăng xuất</a></li>
               </ul>
            </div>
            {{/if}}

            {{#unless userName}}
            <a href="/login" class="loginBtn">Đăng nhập</a>
            {{/unless}}
         </ul>
      </div>
   </div>

   <div class="header-nav">
      <ul>
         {{#if homeActive}}
         <li><a class="{{homeActive}}" href="/">Trang chủ</a></li>
         {{else}}
         <li><a class="" href="/">Trang chủ</a></li>
         {{/if}}

         {{#if rankActive}}
         <li><a class="{{rankActive}}" href="/rank">Xếp hạng</a></li>
         {{else}}
         <li><a class="" href="/rank">Xếp hạng</a></li>
         {{/if}}

         {{#if createCpnActive}}
         <li><a class="{{createCpnActive}}" href="/create/form/company">tạo bài viết</a></li>
         {{else}}
         <li><a class="" href="/create/form/company">tạo bài viết</a></li>
         {{/if}}


         {{#if sortFieldActive}}
         <li class="selectList">
            <div class="selectBtn {{sortFieldActive}}" style="cursor: pointer">
               Lĩnh vực
               <i style="margin: 0 4px" class="fa-solid fa-chevron-down"></i>
               <ul class="selectItem">
                  <li><a href="/company/sort/Nhà hàng">Nhà hàng</a></li>
                  <li><a href="/company/sort/Khách sạn">khách sạn</a></li>
                  <li><a href="/company/sort/Công nghệ">công nghệ</a></li>
               </ul>
            </div>
         </li>
         {{else}}
         <li class="selectList">
            <div class="selectBtn" style="cursor: pointer">
               Lĩnh vực
               <i style="margin: 0 4px" class="fa-solid fa-chevron-down"></i>
               <ul class="selectItem">
                  <li><a href="/company/sort/Nhà hàng">Nhà hàng</a></li>
                  <li><a href="/company/sort/khách sạn">khách sạn</a></li>
                  <li><a href="/company/sort/Công nghệ">công nghệ</a></li>
               </ul>
            </div>
         </li>
         {{/if}}

         {{#if contactActive}}
         <li><a class="{{contactActive}}" href="/contact">liên hệ</a></li>
         {{else}}
         <li><a class="" href="/contact">liên hệ</a></li>
         {{/if}}
         
         {{#if admin}}
         <li><a  style="color: rgb(0, 238, 255);" class="{{adminActive}}" href="/admin/{{slug}}">quản lý website</a></li>
         {{else}}
         {{!-- <input type="text" hidden> --}}
         
         {{/if}}

      </ul>
   </div>
</div>
